h1 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
}
.spinner img {
  margin: 25% 0;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spinner-rotate infinite 3s linear;
  }
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
