.container-mark {
  margin-top: 30px;
}
.card {
  background-color: rgb(174, 201, 243);
  border: 4px double #000;
  margin: 6px;
}
.card-list {
  height: 370px;
}
h2 {
  text-align: center;
}

.imgProduct {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
}
.imgProductDetail {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 500px;
}
.item {
  border: 4px double #000;
}
ul {
  list-style: none;
  display: inline-block;
}
ul a:hover {
  text-decoration: none;
  font-weight: normal;
}
