body {
  background: linear-gradient(to left, #040725, #233741, #021420);
  /*background: linear-gradient(to left, #f52ada, #83d1f5, #16f534);*/
  /*background-color: rgb(34, 32, 32);*/
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
